<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Academia Website Template | About :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
	<div class="wrap">
		<div class="header-top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			</div>
		<div class="telephone">
				<span><img src="images/watch.png" "style=margin-right=10px" alt=""/>Telefonos</span><span class="number">3616-0339 y 3616-0341</span>
		    </div>
			<div class="clear"></div>
		</div>
		</div>
		<div class="menu">
			<div class="wrap">
				<div class="top-nav">
		  <ul class="nav">
		            <li class="active"><a href="index.html">Inicio</a></li>
					<li><a href="about.html">Información</a></li>
					<li><a href="contact.html">Contacto</a></li>
					<li><a href="admon/ajax/page_login.html">Ingresar</a></li>
					<div class="clear"></div>
				 </ul>
				
					<div class="clear"></div>
				</div>
	       </div>
	</div>
</div>
<div class="wrap">
	<div class="main">
		<div class="about-top">
				 <div class="lsidebar1 span_1_of_a offers_list">
				      <h3>TESTIMONIOS</h3>
				      <br>
				      <img src="images/tereb.jpg"</>
				     	<div class="testimonials">

		  					 <h3>Tere Blackaller<span></span></h3>
		  					 <p><span class="quotes"></span>Excelente escuela y tienen los mejores profesores.<span class="quotes-down"></span></p>
		  				</div>
		  				<br>
		  				<img src="images/celestea.jpg"</>
		  				<div class="testimonials">
		  					 <h3>Celeste Aguilera<span></span></h3>
		  					 <p><span class="quotes"></span>Estuve en este colegio en la generación 1994 -1997 y fueron los mejores años de mi vida.<span class="quotes-down"></span></p>
		  				</div>
		  				<br>
		  				<img src="images/alec.jpg"</>
		  				<div class="testimonials">
		  					 <h3>Alejandro de la Concha<span></span></h3>
		  					 <p><span class="quotes"></span>Excelente escuela, mi hijo fabio de la concha hizo su primaria. Gracias por todo<span class="quotes-down"></span></p>
		  				</div>
				  </div>
					 <div class="cont1 span_2_of_a about_desc">
				       <h2>¿Le intersaría para sus hijos un colegio de las siguientes características?</h2>
							 
									<p>				
								 Que se integren los tres niveles básicos: Kinder, Primaria y Secundaria y que la educación sea bilingue.</p>
								 <p>	
								 Que sea un colegio pequeño para que sus hijos no sean un número, pero que tenga instalaciones dignas tanto académicas como deportivas.</p>
								 <p>	
								 Que sus hijos naden dentro de su horario normal de clases.</p>
								<p>	
								Que tenga un alto nivel académico respaldado por más de cuarenta premios de primeros, segundos y terceros lugares en las olimpiadas de matemáticas y de conocimientos, obtenidos en los dos últimos años.</p>
								 <p>	
								 Que además de la actividad pedagógica se implemente una estrategia para desarrollar la inteligencia de sus hijos, mediante la inserción en el programa de estudios, de la enseñanza de música, de ajedrez y de la técnica de lectura activa (lectura veloz).</p>
							 
				           <p>
Estas materias estimulan los centros neurológicos del cerebro, multiplican las conexiones neuronales del centro de razonamiento abstracto y matemático, desarrollan el pensamiento analítico, la concepción de estrategias, el incremento del poder mental, el hábito del pensar antes de acturar y finakmente aprender a leer a velocidades extraordinarias con una comprehensión del 80% al 100%.</p> <p>
Que las colegiaturas sean mucho menores a las de los colegios grandes.
</p>
<p>
Que no cobren cuotas adicionales como las que algunos colegios cobran, por ejemplo ¿Cuota Familiar?
</p>
<p>
Que no esté ubicado en la periferia de la ciudad, sino en una ubicación céntrica y bien comunicada.
</p>
<p>
¿Les interesa un colegio de esta naturaleza?
</p>
<p>
Los invitamos a visitarnos y a evaluarnos.
</p>
&nbsp;
<h2>
COLEGIO IBEROAMERICANO</h2>
<h1>
Enseñar a pensar
es nuestro compromiso
</h1>
					        <div class="image group">
							   <div class="grid images_3_of_1">
								  <img src="images/pic13.jpg" alt="">
								</div>
									<div class="grid span_2_of_1">
										<h4>Olimpiada Mundial de Matemáticas celebrada en Corea del Sur   </h4>
											<p>Nuestro querido Leonardo Ariel García Morán cerró con broche de oro su paso por el Colegio iberoamericano, obteniendo medalla de bronce en la competencia individual y medalla de bronce por equipo para México en la Olimpiada Mundial de Matemáticas celebrada en Corea del Sur </p>

<p>Bien por Ariel, bien por México y bien por el Colegio Iberoamericano.</p>

<p>El viernes 8 de agosto Ariel nos visitó en el Colegio para traernos sus medallas de bronce, diplomas y trofeo.</p>
									 		</div>
							   		<div class="clear"></div> 
			  				 </div>
			  				 <div class="image group">
							   <div class="grid images_3_of_1">
								  <img src="images/pic14.jpg" alt="">
								</div>
									<div class="grid span_2_of_1">
										<h4>Talleres Deportivos</h4>
											<p>En el Colegio Iberoamericano puedes encontrar talleres deportivos extracurriculares.</p>
									       
							   		</div>
							   		<div class="clear"></div> 
			  				 </div>
			  				 <div class="image group">
							   <div class="grid images_3_of_1">
								  <img src="images/pic15.jpg" alt="">
								</div>
									<div class="grid span_2_of_1">
										<h4>Educación Integral Biling&uuml;e </h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim</p>
									      
							   		</div>
							   		<div class="clear"></div> 
			  				 </div>
			  		   </div>	
				      <div class="clear"></div> 			
		   		</div>
			</div>
	</div>
	<div class="footer">
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid">
					<h3>EXTRAS</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="footer-grid">
					<h3>RECENT POSTS</h3>
					<ul>
						<li><a href="#">Vestibulum felis</a></li>
						<li><a href="#">Mauris at tellus</a></li>
						<li><a href="#">Donec ut lectus</a></li>
						<li><a href="#">vitae interdum</a></li>
					</ul>
				</div>
				<div class="footer-grid">
					<h3>USEFUL INFO</h3>
					<ul>
						<li><a href="#">Hendrerit quam</a></li>
						<li><a href="#">Amet consectetur </a></li>
						<li><a href="#">Iquam hendrerit</a></li>
						<li><a href="#">Donec ut lectus </a></li>
					</ul>
				</div>
			<div class="footer-grid footer-lastgrid">
					<h3>CONTACTO</h3>
					<p>Favor de contacarnos para cualquier asunto.</p>
					<div class="footer-grid-address">
						<p>ANIBAL 118 Y JUSTO SIERRA 3034</p>
						<p>VALLARTA SAN LUCAS</p>
						<p>GUADALAJARA, JALISCO, MEXICO</p>
						<p>Tel: 3616-0339 y 3616-0341</p>
						<p>Correo Electrónico:<a class="email-link" href="#">email(at)academia.com</a></p>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		
		</div>
	</div>
</body>
</html>

