<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Academia Website Template | Gallery :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-v1.7.1.js"></script>
<script type="text/javascript" src="js/jquery-hover-effect.js"></script>
<script type="text/javascript">
//Image Hover
jQuery(document).ready(function(){
jQuery(function() {
	jQuery('ul.da-thumbs > li').hoverdir();
});
});
</script>
</head>
<body>
<div class="header">
	<div class="wrap">
		<div class="header-top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			</div>
			<div class="telephone">
				<span><img src="images/watch.png" "style=margin-right=10px" alt=""/>Telefonos</span><span class="number">3616-0339 y 3616-0341</span>
		    </div>
			<div class="clear"></div>
		</div>
		</div>
		<div class="menu">
			<div class="wrap">
				<div class="top-nav">
			  <ul class="nav">
		            <li class="active"><a href="index.html">Inicio</a></li>
					<li><a href="about.html">Mision</a></li>
					<li><a href="gallery.html">Fotos</a></li>
					<li><a href="contact.html">Contacto</a></li>
					<li><a href="admon/ajax/page_login.html">Ingresar</a></li>
					<div class="clear"></div>
				 </ul>
				<div class="search">
				    		<form>
				    			<input type="text" value="">
				    			<input type="submit" value="">
				    		</form>
					</div>
					<div class="clear"></div>
				</div>
	       </div>
	</div>
</div>
<div class="wrap">
	<div class="main">
		<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic16.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
					
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic17.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic18.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
					
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic19.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="clear"></div>
			</div>
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic20.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic21.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic22.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Academia</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="image_grid portfolio_4col">
						    <ul style="" id="list" class="portfolio_list da-thumbs"><li>
						            <img src="images/pic23.jpg" alt="img">
						            <article class="da-animate da-slideFromLeft" style="display: block;">
						                <h3>Iberamericano</h3>
						              <span class="link_post"><a href="#"></a></span>
						                <span class="zoom"><a href="#"></a></span>
						            </article>
						        </li>
						    </ul>
			    		</div>
				
				</div>
				<div class="clear"></div>
			</div>
			</div>
	</div>
	<div class="footer">
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid">
					<h3>EXTRAS</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="footer-grid">
					<h3>RECENT POSTS</h3>
					<ul>
						<li><a href="#">Vestibulum felis</a></li>
						<li><a href="#">Mauris at tellus</a></li>
						<li><a href="#">Donec ut lectus</a></li>
						<li><a href="#">vitae interdum</a></li>
					</ul>
				</div>
				<div class="footer-grid">
					<h3>USEFUL INFO</h3>
					<ul>
						<li><a href="#">Hendrerit quam</a></li>
						<li><a href="#">Amet consectetur </a></li>
						<li><a href="#">Iquam hendrerit</a></li>
						<li><a href="#">Donec ut lectus </a></li>
					</ul>
				</div>
	<div class="footer-grid footer-lastgrid">
					<h3>CONTACTO</h3>
					<p>Favor de contacarnos para cualquier asunto.</p>
					<div class="footer-grid-address">
						<p>ANIBAL 118 Y JUSTO SIERRA 3034</p>
						<p>VALLARTA SAN LUCAS</p>
						<p>GUADALAJARA, JALISCO, MEXICO</p>
						<p>Tel: 3616-0339 y 3616-0341</p>
						<p>Correo Electrónico:<a class="email-link" href="#">email(at)academia.com</a></p>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		
		</div>
	</div>
</body>
</html>
