<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Colegio Iberoamericano | Inicio ::</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/responsiveslides.css">
<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
		  <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 2500,
			        speed: 600
			      });
			});
		  </script>
<!--light-box-->
<script type="text/javascript" src="js/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen">
	<script type="text/javascript">
		$(function() {
			$('.gallery a').lightBox();
		});
   </script>
</head>
<body>
<div class="header">
	<div class="wrap">
		<div class="header-top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			</div>
			<div class="telephone">
				<span><img src="images/watch.png" "style=margin-right=10px" alt=""/>Telefonos</span><span class="number">3616-0339 y 3616-0341</span>
		    </div>
		     
			<div class="clear"></div>

		</div>
	</div>
	
	<div class="menu">
		<div class="wrap">
			<div class="top-nav">
			      <ul class="nav">
		            <li class="active"><a href="index.html">Inicio</a></li>
					<li><a href="about.html">Información</a></li>
					<li><a href="contact.html">Contacto</a></li>
					<li><a href="admon/ajax/page_login.html">Ingresar</a></li>
					<div class="clear"></div>
				 </ul>
			
					<div class="clear">
	
				
					</div>
			</div>
	     </div>
	</div>
</div>
      <!--start-image-slider---->
		<div class="image-slider">
		<!-- Slideshow 1 -->
		  <ul class="rslides" id="slider1">
		    <li><img src="images/banner1.jpg" alt=""></li>
			<li><img src="images/banner2.jpg" alt=""></li>
			<li><img src="images/banner3.jpg" alt=""></li>
		    <li><img src="images/CAM00072.jpg" alt=""></li>
		    <li><img src="images/CAM00080.jpg" alt=""></li>
		    <li><img src="images/CAM00081.jpg" alt=""></li>
		    <li><img src="images/CAM00082.jpg" alt=""></li>
		    <li><img src="images/CAM00062.jpg" alt=""></li>
		  </ul>
	    <!-- Slideshow 2 -->
	   </div>
	<!--End-image-slider---->
	<div class="wrap">
	  <div class="main">
		<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/pic.jpg" alt=""/>
						<div class="banner-box3">
							<span class="text20">Deportes</span>
							<a href="#" class="link2"></a>
						</div>
						<p class="desc">Basquetbol,  Voleibol, Futbol Rápido, Ping-Pong, Taekwondo</p>
						
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/pic1.jpg" alt=""/>
						<div class="banner-box3">
							<span class="text20">Artísticos</span>
							<a href="#" class="link2"></a>
						</div>
						<p class="desc">Danza, Pintura, Artesanias</p>
						
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/pic2.jpg" alt=""/>
						<div class="banner-box3">
							<span class="text20">Académicos</span>
							<a href="#" class="link2"></a>
						</div>
						<p class="desc">Club de Tareas</p>
						
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/pic3.jpg" alt=""/>
						<div class="banner-box3">
							<span class="text20">Computación</span>
							<a href="#" class="link2"></a>
						</div>
						<p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						
				</div>
				<div class="clear"></div>
			</div>
			<div class="bottom-grids">
				  <div class="bottom-grid1">
							<h3>Información</h3>
							<span>¿Le intersar'ia para sus hijos un colegio de las siguientes características?</span>
							<p><p>
							<ul>
								<li><a href="#"><img src="images/marker1.png"> Que se integren los tres niveles básicos: Kinder, Primaria y Secundaria y que la educación sea bilingue.</a></li>
								<li><a href="#"><img src="images/marker1.png"> Que sea un colegio pequeño para que sus hijos no sean un número, pero que tenga instalaciones dignas tanto académicas como deportivas.</a></li>
								<li><a href="#"><img src="images/marker1.png"> Que sus hijos naden dentro de su horario normal de clases.</a></li>
								<li><a href="#"><img src="images/marker1.png"> Que tenga un alto nivel académico respaldado por más de cuarenta premios de primeros, segundos y terceros lugares en las olimpiadas de matemáticas y de conocimientos, obtenidos en los dos últimos años.</a></li>
								<li><a href="#"><img src="images/marker1.png"> Que además de la actividad pedagógica se implemente una estrategia para desarrollar la inteligencia de sus hijos, mediante la inserción en el programa de estudios, de la enseñanza de música, de ajedrez y de la técnica de lectura activa (lectura veloz).</a></li>
								
								<div class="clear"> </div>
							 </ul><br>
								
					</div>
								<div class="bottom-grid2 bottom-mid">
									<h3>Galeria de Fotos</h3>
									<span>consectetur adipisicing elit, sed do eiusmod tempor</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit, sed do</p>
									<div class="gallery">
										<ul>
												<li><a href="images/t-pic4.jpg"><img src="images/pic4.jpg" alt=""></a></li>
												<li><a href="images/t-pic5.jpg"><img src="images/pic5.jpg" alt=""></a></li>
												<li><a href="images/t-pic6.jpg"><img src="images/pic6.jpg" alt=""></a></li>
												<li><a href="images/t-pic7.jpg"><img src="images/pic7.jpg" alt=""></a></li>
												<li><a href="images/t-pic8.jpg"><img src="images/pic8.jpg" alt=""></a></li>
												<li><a href="images/t-pic9.jpg"><img src="images/pic9.jpg" alt=""></a></li>
												<li><a href="images/t-pic10.jpg"><img src="images/pic10.jpg" alt=""></a></li>
												<li><a href="images/t-pic11.jpg"><img src="images/pic11.jpg" alt=""></a></li>
												<li><a href="images/t-pic12.jpg"><img src="images/pic12.jpg" alt=""></a></li>
											<div class="clear"> </div>
										</ul><br>
										
								    </div>
								</div>
							    <div class="bottom-grid3 bottom-last">
									<h3>Latest INFO</h3>
									<span>consectetur adipisicing elit, sed do eiusmod tempor</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
									<br>
									
								</div>
								<div class="clear"> </div>
			</div>
	     </div>
	</div>
	<div class="footer">
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid">
					<h3>EXTRAS</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="footer-grid">
					<h3>RECENT POSTS</h3>
					<ul>
						<li><a href="#">Vestibulum felis</a></li>
						<li><a href="#">Mauris at tellus</a></li>
						<li><a href="#">Donec ut lectus</a></li>
						<li><a href="#">vitae interdum</a></li>
					</ul>
				</div>
				<div class="footer-grid">
					<h3>USEFUL INFO</h3>
					<ul>
						<li><a href="#">Hendrerit quam</a></li>
						<li><a href="#">Amet consectetur </a></li>
						<li><a href="#">Iquam hendrerit</a></li>
						<li><a href="#">Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="footer-grid footer-lastgrid">
					<h3>CONTACTO</h3>
					<p>Favor de contacarnos para cualquier asunto.</p>
					<div class="footer-grid-address">
						<p>ANIBAL 118 Y JUSTO SIERRA 3034</p>
						<p>VALLARTA SAN LUCAS</p>
						<p>GUADALAJARA, JALISCO, MEXICO</p>
						<p>Tel: 3616-0339 y 3616-0341</p>
						<p>Correo Electrónico:<a class="email-link" href="#">email(at)academia.com</a></p>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		
		</div>
	</div>
</body>
</html>
